<style>
    
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family: 'Open Sans', sans-serif; /* Use the 'Open Sans' font */
    }

    body {
        font-size: 5px; /* Set the default font size for the body */
        line-height: 1;
    }

  .right-corner-container {
    display: flex;
    justify-content: flex-end;
  }

    /* Adjust font sizes for different elements */
    .product-title {
        font-size: 1rem;
    }

    .product-price {
        font-size: 1rem;
    }
 .black-icon {
      color: black;
    }
    .product-detail h2 {
        font-size: 1rem;
    }

    .product-detail p {
        font-size: 0rem;
    }

    /* Add more styles for other elements as needed */



    /* The rest of your CSS styles here */
</style>

<%- include('../layouts/adminHeader.ejs') %>

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div class="d-flex flex-row">
  <div class="row">
    <div class="col-md-6">
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <!-- Sidebar content goes here -->
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="index.html">
              <i class="typcn typcn-device-desktop menu-icon"></i>
              <span class="menu-title">Dashboard</span>

            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="/loadUser" aria-expanded="false" aria-controls="ui-basic">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">user List</span>

            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="/loadCategory" aria-expanded="false"
              aria-controls="ui-basic">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Category</span>

            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="/productList" aria-expanded="false"
              aria-controls="ui-basic">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Product List</span>

            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="/addquantity" aria-expanded="false"
              aria-controls="ui-basic">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Quantity List</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
<section class="content-main p-5">
  <div class="content-header">
    <div>
      <h2 class="content-title card-title" style="font-size: 25px;">Product Data</h2>
      <p style="font-size: 14px;">Add, edit or Change Status</p>
    </div>
  </div>

<!-- Add Product button on the right corner -->
<div class="right-corner-container">
  <button class="btn btn-dark">Add Product</button>
</div>
    
      <div class="table-responsive p-5 shadow mb-5 bg-white rounded">
        <table class="table table-hover">
          <thead class="table-danger">
            <tr class="text-center">
              <th>Image</th>
              <th>Name</th>
              <th>Description</th>
              <th>Category</th>  
              <th>Price</th>
              <th>Edit</th>
              <th>Delete</th>
              <th>List/Unlist</th>
            </tr>
          </thead>
          <tbody>
            <% product.forEach((item) => { %>
            <tr>
              <td class="text-center">
                <div class="left">
                  <img src="/uploads/<%= item.images[0] %>" class="img-sm img-thumbnail" alt="Item"
                    data-bs-toggle="modal" data-bs-target="#imageModal<%= item._id %>"
                    style="width:80px;height:fit-content">
                </div>
                
              </td>
              
              <td class="text-center">
                <div class="info">
                  <p class="mb-0">
                    <%= item.name %>
                  </p>
                </div>
              </td>
              <td class="text-center">
                <div class="info">
                  <p class="mb-0">
                    <%= item.description %>
                  </p>
                </div>
              </td>
              <td class="text-center">
                <div class="info">
                  <p class="mb-0">
                    <%= getCategoryName(item.category) %>
                  </p>
                </div>
              </td>
             
              <td class="text-center">
                <div class="info">
                  <p class="mb-0">
                    <%= item.price %>
                  </p>
                </div>
              </td>
            <td class="text-center">
  <a href="/editProductList?id=<%= item._id %>">
    <button type="button" class="btn btn-success">Edit</button>
  </a>
</td>
              <td class="text-center">
                <a href="/deleteProduct?id=<%= item._id %>">
                  <button type="button" class="btn btn-Danger">Delete</button>
              </td>
              <td class="text-center">
                <% if (item.is_listed) { %>
                  
                  
  <a href="/changeProductstatus?id=<%= item._id %>">
    <i class="fa fa-eye black-icon" aria-hidden="true"></i>
  </a>


                <% } else { %>
               
  <a href="/changeProductstatus?id=<%= item._id %>">
    <img src="/images/eyeclose.png" alt="Eye Icon" class="eye-icon" style="height: font: 25px;; width: 25px;">
  </a>

                <% } %>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<%- include('../layouts/adminFooter.ejs') %>
