
<%- include('../layouts/userHeader.ejs') %>

<body style="background-color: white">
    <section style="background-color: white">
        <div class="container py-5">
            <div class="row mb-4">
                <div class="col text-center">
                    <h2 style="font-size: 30px;">Your Account</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="images/icons/user.png" alt="avatar" class="rounded-circle"
                                style="width: 90px; object-fit: cover;">
                            <h5 class="my-3">
                                <%= user.username %>
                            </h5>
                            <p class=" mb-1">
                                <%= user.email %>
                            </p>
                            <p class=" mb-0">
                                <%= user.mobile %>
                            </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-center">
                                <button type="button" class="btn btn-danger" onclick="location.href='/logout';">SIGN
                                    OUT</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col-sm-3">
                                    <p class="mb-0"><strong>Full Name</strong></p>
                                </div>
                                <div class="col-sm-9">
                                    <p class=" mb-0">
                                        <%= user.username %>
                                    </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row mb-2">
                                <div class="col-sm-3">
                                    <p class="mb-0"><strong>Email</strong></p>
                                </div>
                                <div class="col-sm-9">
                                    <p class=" mb-0">
                                        <%= user.email %>
                                    </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row mb-2">
                                <div class="col-sm-3">
                                    <p class="mb-0"><strong>Phone</strong></p>
                                </div>
                                <div class="col-sm-9">
                                    <p class=" mb-0">
                                        <%= user.mobile %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% if (user && user.Address && Array.isArray(user.Address)) { %>
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="mb-4"><strong>Address</strong></h5>
                                <hr>
                                <% user.Address.forEach(address=> { %>
                                    <div class="row mb-2">
                                        <div class="col-sm-3">
                                            <p class="mb-0"><strong>District</strong></p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class=" mb-0">
                                                <%= address.District %>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-sm-3">
                                            <p class="mb-0"><strong>Pincode</strong></p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class=" mb-0">
                                                <%= address.pincode %>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-sm-3">
                                            <p class="mb-0"><strong>HouseName</strong></p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class=" mb-0">
                                                <%= address.HouseName %>
                                            </p>
                                        </div>
                                    </div>
                                    <% }); %>
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>
        </div>
    </section>
<%- include('../layouts/userFooter.ejs') %>