<%- include('../layouts/userHeader.ejs') %>
    <style>
        .product-card {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            padding: 20px;
            margin-bottom:30px;
            /* padding-top: 10px; */
            /* Add padding to the top */
            transition: box-shadow 0.3s ease;
        }

        .product-card:hover {
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        }

        .product-card img {
            width: 140px;
            height: 130px;
            padding-left: 10px;
        }

        .product-card .product-info {
            width: 200px;
        }

        .product-card h6 {
            margin-top: 20px;
            margin-bottom: 5px;
        }

        .product-card p {
            margin-bottom: 10px;
        }

         .row .col-lg-3 {
        margin-bottom: 1px; /* Adjust this value to control the space between rows */
    }
    </style>
</head>

<body>
   
    

    <div class="page-area categorie-page p-5">
        <div class="container">
            <div class="row">
                <% products.forEach(product=> { %>
                    <% if (product.is_listed) { %>
                        <div class="col-lg-3">
                            <a href="/productdetail/<%= product._id %>" class="product-card-link">
                            <div class="product-card">
                                <img class="img-fluid rounded-circle" src="/uploads/<%= product.images[0] %>" alt="">
                                <div class="product-info">
                                </a>
                                    <h6>
                                        <%= product.name %>
                                    </h6>
                                    <p>&#8377; <%= product.price %></p>
                                   <a href="#" class="btn btn-dark">ADD TO CART</a>
                                </div>
                            </div>
                        </div>
                        <% } %>
                            <% }); %>
            </div>
        </div>
    </div>
</body>
    
<%- include('../layouts/userFooter.ejs') %>